In [1]:
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q htt  https://archive.apache.org/dist/spark/spark-2.3.1/spark-2.3.1-bin-hadoop2.7.tgz
!tar xf spark-2.3.1-bin-hadoop2.7.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.3.1-bin-hadoop2.7"

import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
spark

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Get:2 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:4 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Get:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release [564 B]
Get:9 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release.gpg [833 B]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:12 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [43.6 kB]
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:14 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:15 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [1,881 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [284 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,376 kB]
Get:19 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Packages [66.5 kB]
Get:20 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,708 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,307 kB]
Get:22 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [875 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [309 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [45.6 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,140 kB]
Get:26 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [49.2 kB]
Fetched 11.4 MB in 4s (3,221 kB/s)
Reading package lists... Done

In [34]:
df=spark.read.format("csv").option("header","true").option("inferschema","true").load("/content/sales_info.csv");
df.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|  200|
|   GOOG|Charlie|  120|
|   GOOG|  Frank|  340|
|   MSFT|   Tina|  600|
|   MSFT|    Amy|  124|
|   MSFT|Vanessa|  243|
|     FB|   Carl|  870|
|     FB|  Sarah|  350|
|   APPL|   John|  250|
|   APPL|  Linda|  130|
|   APPL|   Mike|  750|
|   APPL|  Chris|  350|
|    TCS|   Chao| null|
+-------+-------+-----+

In [35]:
from pyspark.sql.functions import *

In [36]:
df.withColumn('Company',lower(df['Company'])).show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   goog|    Sam|  200|
|   goog|Charlie|  120|
|   goog|  Frank|  340|
|   msft|   Tina|  600|
|   msft|    Amy|  124|
|   msft|Vanessa|  243|
|     fb|   Carl|  870|
|     fb|  Sarah|  350|
|   appl|   John|  250|
|   appl|  Linda|  130|
|   appl|   Mike|  750|
|   appl|  Chris|  350|
|    tcs|   Chao| null|
+-------+-------+-----+

In [37]:
df.withColumn('Person',upper(df['Person'])).show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    SAM|  200|
|   GOOG|CHARLIE|  120|
|   GOOG|  FRANK|  340|
|   MSFT|   TINA|  600|
|   MSFT|    AMY|  124|
|   MSFT|VANESSA|  243|
|     FB|   CARL|  870|
|     FB|  SARAH|  350|
|   APPL|   JOHN|  250|
|   APPL|  LINDA|  130|
|   APPL|   MIKE|  750|
|   APPL|  CHRIS|  350|
|    TCS|   CHAO| null|
+-------+-------+-----+

In [39]:
df.select(
ltrim(lit(" HELLO ")).alias("ltrim"),
rtrim(lit(" HELLO ")).alias("rtrim"),
trim(lit(" HELLO ")).alias("trim"),
lpad(lit("HELLO"), 3, " ").alias("lp"),
lpad(lit("HELLO"), 10, "_").alias("lp"),
rpad(lit("HELLO"), 10, " ").alias("rp"),
rpad(lit("HELLO"), 3, " ").alias("rp")).show(2)

+------+------+-----+---+----------+----------+---+
| ltrim| rtrim| trim| lp|        lp|        rp| rp|
+------+------+-----+---+----------+----------+---+
|HELLO | HELLO|HELLO|HEL|_____HELLO|HELLO     |HEL|
|HELLO | HELLO|HELLO|HEL|_____HELLO|HELLO     |HEL|
+------+------+-----+---+----------+----------+---+
only showing top 2 rows

In [28]:
df.filter(df['Company'].contains("G")).select(df.columns).show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|  200|
|   GOOG|Charlie|  120|
|   GOOG|  Frank|  340|
+-------+-------+-----+

In [30]:
df=df.withColumn('Person',lower(df['Person']));
df.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    sam|  200|
|   GOOG|charlie|  120|
|   GOOG|  frank|  340|
|   MSFT|   tina|  600|
|   MSFT|    amy|  124|
|   MSFT|vanessa|  243|
|     FB|   carl|  870|
|     FB|  sarah|  350|
|   APPL|   john|  250|
|   APPL|  linda|  130|
|   APPL|   mike|  750|
|   APPL|  chris|  350|
|    TCS|   chao| null|
+-------+-------+-----+

In [31]:
df.withColumn('Person',initcap(df['Person'])).show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|  200|
|   GOOG|Charlie|  120|
|   GOOG|  Frank|  340|
|   MSFT|   Tina|  600|
|   MSFT|    Amy|  124|
|   MSFT|Vanessa|  243|
|     FB|   Carl|  870|
|     FB|  Sarah|  350|
|   APPL|   John|  250|
|   APPL|  Linda|  130|
|   APPL|   Mike|  750|
|   APPL|  Chris|  350|
|    TCS|   Chao| null|
+-------+-------+-----+